.container{
    padding: 20px 400px 20px 400px;
    display: flex;
    justify-content: center;
    }

.detail{
    color: white;
    background-color: rgba(1, 25, 6, 0.5);
    padding: 20px;
    border: 1px solid white;
    border-radius: 10px;
    
}
.button{
    padding: 6px 10px;
    background-color: rgb(52, 61, 0);
    color: rgb(200, 200, 200);
    border-radius: 10px;
    border: none;
}

.button:hover {
    color: rgb(52, 61, 0);
    background-color: rgb(200, 200, 200);
}

.activity {
    display: inline-block;
    padding: 10px;
    border: 1px solid white;
    margin: 10px;
    border-radius: 10px;
}