.buttons{
    cursor: pointer;
    padding: 3px 6px;
    margin: 4px;
    border-radius: 20%;
    border: none;
    background-color: #151b2d;
    color: rgb(248, 247, 247);
}

.buttons:hover {
    background-color:  rgb(248, 247, 247);
    color:#151b2d;
}

.active {
    background-color:  rgb(248, 247, 247);
    color:#151b2d;
    cursor: pointer;
    padding: 3px 6px;
    margin: 1px;
    border-radius: 20%;
    border: none;
}
